<mat-card>
  <div class="header">
    {{day.toDateString()}}
  </div>

  <div class="card-body">
    Tasks: {{dayInfo.taskAmount}}
    <br>
    Projects: {{dayInfo.projects}}
    <br>
    Hours: {{dayInfo.hours}}
  </div>

  <div class="tasks">
    <div class="task-container" *ngFor="let task of dayInfo.tasks">
      <div *ngIf="task.isFitInDay">
        {{task.name}}
      </div>

      <div *ngIf="!task.isFitInDay">
        Does not fit in day: {{task.name}}
      </div>
    </div>
  </div>
</mat-card>
