.card {
  margin-bottom: 5px;
  display: flex;
}

.checked {
  background-color: #676ce7;
}

.card:hover {
  background-color: #f3e9dd;
}

.card:active {
  background-color: #ede3d7;
}

.content {
  width: 90%;
  cursor: pointer;
}

.delete-btn-container {
  padding-top: 7%;
  cursor: pointer;
}
