.card {
  margin-bottom: 5px;
  display: flex;
}

.checked {
  background-color: #8895e7;
}

.card:hover {
  background-color: #6d81e7;
}

.card:active {
  background-color: #5d6de7;
}

.content {
  width: 90%;
  cursor: pointer;
}

.delete-btn-container {
  padding-top: 7%;
  cursor: pointer;
}
