<mat-card class="container">
  <app-input [placeholder]="'Task name'" [value]="task.name" [isTextArea]="false"></app-input>

  <div class="priority-select">
    <label>Priority</label>
    <mat-select [(value)]="priority">
      <mat-option value="1">1 - Highest</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3 - Middle</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5 - Lowest</mat-option>
    </mat-select>
  </div>

  <mat-form-field>
    <input matInput [matDatepicker]="picker3" placeholder="Value binding" [value]="date">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
</mat-card>
