.card {
  background-color: #ffeaf6;
}

.card:hover {
  background-color: #fae5f1;
  cursor: pointer;
}

app-shedule-card {
  width: 100%;
  height: 100%;
}

.day-cards-template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1%;
  grid-gap: 2%;
}
