<mat-card class="project-card">
  <div class="container">
    <div class="project-info-container">
      <app-input [placeholder]="'Project name'" [value]="project.name" [isTextArea]="false"></app-input>
      <app-input [placeholder]="'Descriptions'" [value]="project.descriptions" [isTextArea]="true"></app-input>
    </div>

    <div class="settings-container">
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="saveProjectInfo()">Save</button>

  <div class="tasks-container">
    <app-tasks [tasks]="tasks"></app-tasks>
  </div>
</mat-card>
