<mat-card class="project-card">
  <div class="container">
    <div class="project-info-container">
      <app-input [placeholder]="'Project name'" [value]="project.name" [isTextArea]="false"></app-input>
      <app-input [placeholder]="'Descriptions'" [value]="project.descriptions" [isTextArea]="true"></app-input>
    </div>

    <div class="settings-container">
    </div>
  </div>

  <div class="priority-select">
    <label>Priority</label>
    <mat-select [(value)]="priority">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
    </mat-select>
  </div>

  <button class="save-btn" mat-raised-button color="primary" (click)="saveProjectInfo()">Save</button>

  <div class="tasks-container">
    <div class="tasks">
      <app-tasks [tasks]="tasks"></app-tasks>
    </div>
    <div class="task-info">
      <app-task-card></app-task-card>
    </div>
  </div>
</mat-card>
