.project-card {
  height: 80vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.project-info-container {
  flex: 4;
  min-width: 100px;
  display: flex;
  flex-direction: column;
}

.settings-container {
  flex: 5;
  min-width: 150px;
  padding-left: 16px;
}

.tasks-container {
  min-width: 150px;
  padding-left: 16px;
}
