.container {
  display: flex;
}

.calendar-container {
  width: 70vw;
}

hr {
  border: 2px solid #8233e7;
}

.filter-container {
  width: 20vw;
  padding-left: 0.5em;
}

.filter-container .header {
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.filter-container .filters {
  display: flex;
  flex-direction: column;
}

.display-mode-select {
  margin-bottom: 1em;
}
